.container {
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  background-color: #ffe0bd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  padding: 30px;
  margin-top: 60px;
}

.footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #ffe0bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table with users */

.wrapper {
 
}


.searchInput {
  width: 100%;
  height: 30px;
}

.usersList {
  margin-top: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}